body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
  background-color: #fff;
  color: #000;
}

.welcome-message {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.carousel-container img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.start-order-button {
  padding: 20px 40px;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: #ffcc00;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.start-order-button:hover {
  background-color: #e6b800;
}

.carousel-image {
  max-height: 60vh;
  max-width: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .welcome-message {
    font-size: 1.5rem;
  }

  .start-order-button {
    padding: 15px 30px;
    font-size: 1.2rem;
  }

  .carousel-image {
    max-height: 30vh;
  }
}

.order-type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
}

.order-type-container h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.order-type-button {
  width: 300px;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  margin: 0.5rem;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.order-type-button:hover {
  background-color: #e6b800;
}

.cancel-order-button {
  width: auto;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
}


.cancel-button:hover {
  background-color: #d32f2f;
}


.menu-container {
  display: flex;
  justify-content: start;
  align-items: flex-start;
}

.category-nav {
  flex-basis: 20%;
  padding: 10px;
  border-right: 1px solid #ddd;
}

.category-nav button {
  padding: 10px;
  width: 200px;
  font-size: 1.2rem;
  margin-bottom: 10px;
  background-color: #ffcc00;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.category-nav button:hover {
  background-color: #e6b800;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  flex-grow: 1;
  padding: 20px;
}

.product {
  width: 200px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-align: center;
}

.product img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}




